@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap');




a:link { color: #bebebf; text-decoration: none;}
a:visited { color: #bebebf; text-decoration: none;}
a:hover { color: white; text-decoration: none;}

html {
    scroll-behavior: smooth
}

.body{
    margin: 0;
}

.sideNav {
    text-align: center;
}

#sideNav-div {
    width: 18%;
    padding: 0;
    margin: 0;
    position: fixed;
    height: 100%;
    background-color: rgb(172, 74, 42);
    top: 0;
    left: 0;
    min-width: 100px;
}

.active a {
    color: white!important;
}

#center {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 64%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


#snoopy {
    width: 130px;
    height: auto;
    z-index: 1;
}

#sideNav-ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 90px;
    font-size: 25px;
}

#sideNav-li{
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

#sideNav-li > li{
    padding-bottom: 12px;
}



/*------------------------------about----------------------------------*/

#about {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    align-items: center;
    border-bottom: 1px solid black;
    padding-top: 190px;
    margin-right: 0;
}

#about-content > h1 {
    margin-left: 22%;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 6rem;
    font-weight: 700;
    font-family: 'Saira Extra Condensed', sans-serif;
}

#about-content-information{
    margin-left: 22%;
    font-size: 25px;
    font-family: 'Saira Extra Condensed', sans-serif;
    color: #4f5050;
}

#email{
    text-decoration: underline;
    color: rgb(172, 74, 42);
}

#email:hover {
    color: rgb(122, 52, 28);
}

#about-content-short-introduce{
    margin-left: 22%;
    margin-top: 60px;
    margin-bottom: 50px;
    margin-right: 70px;
    /*font-family: 'Mulish', sans-serif;*/
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    color: #6c757d;
}

#about-content-span {
    color: rgb(172, 74, 42);
}

#sns-icon {
    display: flex;
    margin-left: 22%;
    margin-bottom: 290px;
}

#sns-icon > a > img {
    width: 50px;
    height: auto;
    margin-right: 30px;
}

/*------------------------------experience----------------------------------*/


#experience{
    align-items: center;
    width: 100%;
    border-bottom: 1px solid black;
    margin-top: 0;
    padding-top: 50px;
}

#experience-content{
    margin-left: 22%;
}

#experience-content > h2{
    padding-top: 30px;
    margin-bottom: 120px;
    padding-bottom: 0;
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Saira Extra Condensed', sans-serif;
}

#experience-content-div1 {
    display: flex;
    margin-top: 50px;
}

#experience-content-div1-left{
    width: 70%;
}

#experience-content-div1-left > h3{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 0;
}

#experience-content-div1-1 {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 30px;
    margin-top: 0;
    color: #5c636a;
}

#experience-content-div1-left > p{
    font-family: 'Noto Sans KR', sans-serif;
    color: #6c757d;
}

#experience-content-div1-right{
    width: 30%;
    text-align: right;
    margin-top: 20px;
    margin-right: 100px;
    font-family: 'Mulish', sans-serif;
    color: rgb(172, 74, 42);
}

#experience-content-div2 {
    margin-top: 100px;
    display: flex;
}

#experience-content-div2-left{
    width: 70%;
}

#experience-content-div2-left > h3{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 0;
}

#experience-content-div2-1 {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 30px;
    margin-top: 0;
    color: #5c636a;
}

#experience-content-div2-left > p{
    font-family: 'Noto Sans KR', sans-serif;
    color: #6c757d;
}

#experience-content-div2-right{
    width: 30%;
    text-align: right;
    margin-top: 20px;
    margin-right: 100px;
    font-family: 'Mulish', sans-serif;
    color: rgb(172, 74, 42);
}

#experience-content-div3 {
    margin-top: 100px;
    display: flex;
}

#experience-content-div3-left > h3{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 0;
}

#experience-content-div3-left{
    width: 70%;
}

#experience-content-div3-1 {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 30px;
    margin-top: 0;
    color: #5c636a;
}

#experience-content-div3-left > p{
    font-family: 'Noto Sans KR', sans-serif;
    color: #6c757d;
}

#experience-content-div3-right{
    width: 30%;
    text-align: right;
    margin-top: 20px;
    margin-right: 100px;
    font-family: 'Mulish', sans-serif;
    color: rgb(172, 74, 42);
}

#experience-content-div4 {
    margin-top: 100px;
    display: flex;
    margin-bottom: 200px;
}

#experience-content-div4-left > h3{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 0;
}

#experience-content-div4-left{
    width: 70%;
}

#experience-content-div4-1 {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 30px;
    margin-top: 0;
    color: #5c636a;
}

#experience-content-div4-left > p{
    font-family: 'Noto Sans KR', sans-serif;
    color: #6c757d;
}

#experience-content-div4-right{
    width: 30%;
    text-align: right;
    margin-top: 20px;
    margin-right: 100px;
    font-family: 'Mulish', sans-serif;
    color: rgb(172, 74, 42);
}

#experience-content-div5 {
    margin-top: 100px;
    display: flex;
}

#experience-content-div5-left > h3{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 0;
}

#experience-content-div5-left{
    width: 70%;
}

#experience-content-div5-1 {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 30px;
    margin-top: 0;
    color: #5c636a;
}

#experience-content-div5-left > p{
    font-family: 'Noto Sans KR', sans-serif;
    color: #6c757d;
}

#experience-content-div5-right{
    width: 30%;
    text-align: right;
    margin-top: 20px;
    margin-right: 100px;
    font-family: 'Mulish', sans-serif;
    color: rgb(172, 74, 42);
}

/*------------------------------education----------------------------------*/

#education{
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;
    padding-top: 150px;
}

#education-content{
    margin-left: 22%;
}

#education-content > h2{
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Saira Extra Condensed', sans-serif;
}

#education-content-div1 {
    display: flex;
    margin-top: 100px;
    margin-right: 0;
    margin-bottom: 80px;
    width: 100%;
}

#education-content-div1-left{
    width: 70%;
}

#education-content-div1-left > h3{
    width: 100%;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 600px;
}

#education-content-div1-1 {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 25px;
    margin-top: 0;
    color: #5c636a;
}


#education-content-div1-right{
    width: 30%;
    text-align: right;
    margin-top: 20px;
    margin-right: 100px;
    font-family: 'Mulish', sans-serif;
    color: rgb(172, 74, 42);
}

#education-content-div2 {
    display: flex;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 280px;
}

#education-content-div2-left{
    width: 70%;
}

#education-content-div2-left > h3{
    width: 100%;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 600px;
}

#education-content-div2-1 {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 25px;
    margin-top: 0;
    color: #5c636a;
}


#education-content-div2-right{
    width: 30%;
    text-align: right;
    margin-top: 20px;
    margin-right: 100px;
    font-family: 'Mulish', sans-serif;
    color: rgb(172, 74, 42);
}

/*------------------------------projects----------------------------------*/

#projects {
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;
    padding-top: 40px;
}


#projects-content {
    margin-left: 22%;
    margin-top: 30px;
    margin-bottom: 200px;
}


#projects-content > h2{
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Saira Extra Condensed', sans-serif;
}


#projects-content-div1 {
    display: flex;
    margin-top: 100px;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 25px;
    font-family: 'Saira Extra Condensed', sans-serif;
    color: #5c636a;
}

#projects-content-div1-left{
    width: 70%;
    display: flex;
}

#projects-content-div1-left > h3{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 0;
    color: #3e444a;
}

#projects-content-div1-right{
    width: 30%;
}

#projects-content-div1-right-date{
    text-align: right;
    margin-right: 100px;
    margin-top: 0;
    font-family: 'Mulish', sans-serif;
    margin-left: 15px;
    padding-top: 26px;
    font-size: 15px;
    color: rgb(172, 74, 42);
}


#projects-content-div1-icon {
    padding-top: 12px;
    width: 30px;
    height: auto;
    color: #3e444a;
}

#projects-content-div1-icon:hover{
    color: #bebebf;
}

#projects-content-div1-icon > span {
    width: 30px;
    height: auto;
    font-size: 40px;
}

#projects-content-div1-folded{
    margin-top: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#projects-content-div1-about{
    margin-top: 0;
    color: #6c757d;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
}

#projects-content-div1-folded-div1{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 22px;
    color: #5c636a;
}

#form-to-spreadsheet{
    color: #6c757d;
}

#form-to-spreadsheet:hover{
    color: #bebebf;
}

#projects-content-div1-folded-div2{
    display: flex;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 22px;
    color: #6c757d;
    margin-top: 0px;
}

/*----------------------------------------------------*/
#projects-content-div2 {
    display: flex;
    margin-top: 80px;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 25px;
    font-family: 'Saira Extra Condensed', sans-serif;
    color: #5c636a;
}

#projects-content-div2-left{
    width: 70%;
    display: flex;
}

#projects-content-div2-left > h3{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 0;
    color: #3e444a;
}

#projects-content-div2-right{
    width: 30%;
}

#projects-content-div2-right-date{
    text-align: right;
    margin-right: 100px;
    margin-top: 0;
    font-family: 'Mulish', sans-serif;
    margin-left: 15px;
    padding-top: 26px;
    font-size: 15px;
    color: rgb(172, 74, 42);
}


#projects-content-div2-icon {
    padding-top: 12px;
    width: 30px;
    height: auto;
    color: #5c636a;
}

#projects-content-div2-icon:hover{
    color: #bebebf;
}

#projects-content-div2-icon > span {
    width: 30px;
    height: auto;
    font-size: 40px;
}

#projects-content-div2-folded{
    margin-top: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


#projects-content-div2-about{
    margin-top: 0;
    color: #6c757d;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
}

#projects-content-div2-folded-div1{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 22px;
    color: #5c636a;
}

#near-duplicate-github-link{
    color: #6c757d;
}

#near-duplicate-github-link:hover{
    color: #bebebf;
}

#projects-content-div2-folded-div2{
    display: flex;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 22px;
    color: #6c757d;
    margin-top: 0px;
}


/*----------------------------------------------------*/
#projects-content-div3 {
    display: flex;
    margin-top: 80px;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 25px;
    font-family: 'Saira Extra Condensed', sans-serif;
    color: #5c636a;
}

#projects-content-div3-left{
    width: 70%;
    display: flex;
}

#projects-content-div3-left > h3{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 0;
    color: #3e444a;
}

#projects-content-div3-right{
    width: 30%;
}

#projects-content-div3-right-date{
    text-align: right;
    margin-right: 100px;
    margin-top: 0;
    font-family: 'Mulish', sans-serif;
    margin-left: 15px;
    padding-top: 26px;
    font-size: 15px;
    color: rgb(172, 74, 42);
}


#projects-content-div3-icon {
    padding-top: 12px;
    width: 30px;
    height: auto;
    color: #5c636a;
}

#projects-content-div3-icon:hover{
    color: #bebebf;
}

#projects-content-div3-icon > span {
    width: 30px;
    height: auto;
    font-size: 40px;
}

#projects-content-div3-folded{
    margin-top: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#projects-content-div3-about{
    margin-top: 0;
    color: #6c757d;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
}

#projects-content-div3-folded-div1{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 22px;
    color: #5c636a;
}

#aws-compute-optimizer{
    color: #6c757d;
}

#aws-compute-optimizer:hover{
    color: #bebebf;
}

#projects-content-div3-folded-div2{
    display: flex;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 22px;
    color: #6c757d;
    margin-top: 0px;
}

/*----------------------------------------------------*/
#projects-content-div4 {
    display: flex;
    margin-top: 80px;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 25px;
    font-family: 'Saira Extra Condensed', sans-serif;
    color: #5c636a;
}

#projects-content-div4-left{
    width: 70%;
    display: flex;
}

#projects-content-div4-left > h3{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 0;
    color: #3e444a;
}

#projects-content-div4-right{
    width: 30%;
}

#projects-content-div4-right-date{
    text-align: right;
    margin-right: 100px;
    margin-top: 0;
    font-family: 'Mulish', sans-serif;
    margin-left: 15px;
    padding-top: 26px;
    font-size: 15px;
    color: rgb(172, 74, 42);
}


#projects-content-div4-icon {
    padding-top: 12px;
    width: 30px;
    height: auto;
    color: #5c636a;
}

#projects-content-div4-icon:hover{
    color: #bebebf;
}

#projects-content-div4-icon > span {
    width: 30px;
    height: auto;
    font-size: 40px;
}

#projects-content-div4-folded{
    margin-top: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#projects-content-div4-about{
    margin-top: 0;
    color: #6c757d;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
}

#projects-content-div4-folded-div1{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 22px;
    color: #5c636a;
}

#docker-project{
    color: #6c757d;
}

#docker-project:hover{
    color: #bebebf;
}

#projects-content-div4-folded-div2{
    display: flex;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 22px;
    color: #6c757d;
    margin-top: 0px;
}

/*----------------------------------------------------*/
#projects-content-div5 {
    display: flex;
    margin-top: 80px;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 25px;
    font-family: 'Saira Extra Condensed', sans-serif;
    color: #5c636a;
}

#projects-content-div5-left{
    width: 70%;
    display: flex;
}

#projects-content-div5-left > h3{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 0;
    color: #3e444a;
}

#projects-content-div5-right{
    width: 30%;
}

#projects-content-div5-right-date{
    text-align: right;
    margin-right: 100px;
    margin-top: 0;
    font-family: 'Mulish', sans-serif;
    margin-left: 15px;
    padding-top: 26px;
    font-size: 15px;
    color: rgb(172, 74, 42);
}


#projects-content-div5-icon {
    padding-top: 12px;
    width: 30px;
    height: auto;
    color: #5c636a;
}

#projects-content-div5-icon:hover{
    color: #bebebf;
}

#projects-content-div5-icon > span {
    width: 30px;
    height: auto;
    font-size: 40px;
}

#projects-content-div5-folded{
    margin-top: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#projects-content-div5-about{
    margin-top: 0;
    color: #6c757d;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
}

#projects-content-div5-folded-div1{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 22px;
    color: #5c636a;
}

#data-crawling{
    color: #6c757d;
}

#data-crawling:hover{
    color: #bebebf;
}

#projects-content-div5-folded-div2{
    display: flex;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 22px;
    color: #6c757d;
    margin-top: 0px;
}

/*----------------------------------------------------*/
#projects-content-div6 {
    display: flex;
    margin-top: 80px;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 25px;
    font-family: 'Saira Extra Condensed', sans-serif;
    color: #5c636a;
}

#projects-content-div6-left{
    width: 70%;
    display: flex;
}

#projects-content-div6-left > h3{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 0;
    color: #3e444a;
}

#projects-content-div6-right{
    width: 30%;
}

#projects-content-div6-right-date{
    text-align: right;
    margin-right: 100px;
    margin-top: 0;
    font-family: 'Mulish', sans-serif;
    margin-left: 15px;
    padding-top: 26px;
    font-size: 15px;
    color: rgb(172, 74, 42);
}


#projects-content-div6-icon {
    padding-top: 12px;
    width: 30px;
    height: auto;
    color: #5c636a;
}

#projects-content-div6-icon:hover{
    color: #bebebf;
}

#projects-content-div6-icon > span {
    width: 30px;
    height: auto;
    font-size: 40px;
}

#projects-content-div6-folded{
    margin-top: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#projects-content-div6-about{
    margin-top: 0;
    color: #6c757d;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
}

#projects-content-div6-folded-div1{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 22px;
    color: #5c636a;
}

#mobile-programming{
    color: #6c757d;
}

#mobile-programming:hover{
    color: #bebebf;
}

#projects-content-div6-folded-div2{
    display: flex;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 22px;
    color: #6c757d;
    margin-top: 0px;
}

/*----------------------------------------------------*/
#projects-content-div7 {
    display: flex;
    margin-top: 80px;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 25px;
    font-family: 'Saira Extra Condensed', sans-serif;
    color: #5c636a;
}

#projects-content-div7-left{
    width: 70%;
    display: flex;
}

#projects-content-div7-left > h3{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 0;
    color: #3e444a;
}

#projects-content-div7-right{
    width: 30%;
}

#projects-content-div7-right-date{
    text-align: right;
    margin-right: 100px;
    margin-top: 0;
    font-family: 'Mulish', sans-serif;
    margin-left: 15px;
    padding-top: 26px;
    font-size: 15px;
    color: rgb(172, 74, 42);
}


#projects-content-div7-icon {
    padding-top: 12px;
    width: 30px;
    height: auto;
    color: #5c636a;
}

#projects-content-div7-icon:hover{
    color: #bebebf;
}

#projects-content-div7-icon > span {
    width: 30px;
    height: auto;
    font-size: 40px;
}

#projects-content-div7-folded{
    margin-top: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#projects-content-div7-about{
    margin-top: 0;
    color: #6c757d;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
}

#projects-content-div7-folded-div1{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 22px;
    color: #5c636a;
}

#chatterbot{
    color: #6c757d;
}

#chatterbot:hover{
    color: #bebebf;
}

#projects-content-div7-folded-div2{
    display: flex;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 22px;
    color: #6c757d;
    margin-top: 0px;
}

/*----------------------------------------------------*/
#projects-content-div8 {
    display: flex;
    margin-top: 80px;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 25px;
    font-family: 'Saira Extra Condensed', sans-serif;
    color: #5c636a;
}

#projects-content-div8-left{
    width: 70%;
    display: flex;
}

#projects-content-div8-left > h3{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 0;
    color: #3e444a;
}

#projects-content-div8-right{
    width: 30%;
}

#projects-content-div8-right-date{
    text-align: right;
    margin-right: 100px;
    margin-top: 0;
    font-family: 'Mulish', sans-serif;
    margin-left: 15px;
    padding-top: 26px;
    font-size: 15px;
    color: rgb(172, 74, 42);
}


#projects-content-div8-icon {
    padding-top: 12px;
    width: 30px;
    height: auto;
    color: #5c636a;
}

#projects-content-div8-icon:hover{
    color: #bebebf;
}

#projects-content-div8-icon > span {
    width: 30px;
    height: auto;
    font-size: 40px;
}

#projects-content-div8-folded{
    margin-top: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#projects-content-div8-about{
    margin-top: 0;
    color: #6c757d;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
}

#projects-content-div8-folded-div1{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 22px;
    color: #5c636a;
}

#sensor-cloud{
    color: #6c757d;
}

#sensor-cloud:hover{
    color: #bebebf;
}

#projects-content-div8-folded-div2{
    display: flex;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 22px;
    color: #6c757d;
    margin-top: 0px;
}


/*------------------------------skills----------------------------------*/


#skills{
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;
    padding-top: 280px;
}

#skills-content{
    margin-left: 22%;
}

#skills-content > h2{
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Saira Extra Condensed', sans-serif;
}

#skills-content-div1 {
    display: flex;
    margin-top: 50px;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 25px;
    font-family: 'Saira Extra Condensed', sans-serif;
    color: #5c636a;
}

#skills-content-div2 {
    display: flex;
    margin-top: 30px;
    margin-right: 0;
    margin-bottom: 380px;
}

#skills-content-div2 > img {
    width: 45px;
    height: 45px;
    margin-right: 20px;
    filter: brightness(0%) opacity(60%);
}


/*------------------------------papers & certification----------------------------------*/

#papers-and-certification{
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;
    margin-top: 0;
    padding-top: 260px;
}

#papers-and-certification-content{
    margin-left: 20%;
    margin-bottom: 370px;
}

#papers-and-certification-content > h2{
    margin-left: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Saira Extra Condensed', sans-serif;
}

#papers-and-certification-content-div1 {
    display: flex;
    margin-top: 50px;
    margin-right: 0;
    margin-bottom: 0;
    color: #5c636a;
}

#papers-and-certification-content-div1-ul{
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
}

#papers-and-certification-content-div1-ul > li {
    list-style-type: none;
    vertical-align: middle;
    display: flex;
    padding-bottom: 10px;
}

#aws-certification-icon{
    padding-top: 2px;
    border: 0;
    outline: 0;
    background-color: white;
    margin-left: 2px;
}

#papers-link{
    color: black;
}

#papers-link:hover {
    color: #bebebf;
}

#papers-link-icon{
    padding-top: 2px;
}

/*------------------------------more----------------------------------*/

#more{
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;
    padding-top: 200px;
}

#more-content{
    margin-left: 22%;
    margin-bottom: 330px;
}

#more-content > h2{
    margin-bottom: 50px;
    padding-bottom: 0;
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Saira Extra Condensed', sans-serif;
}

#more-content-div1{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 29px;
    color: #5c636a;
}

#more-content-div1-instruments{
    display: flex;
    vertical-align: middle;
    text-align: center;
    height: 46px;
}

#more-content-div1-instruments > span > img{
    width: 30px;
    height: 30px;
    padding-top: 8px;
    padding-left: 8px;
}

#more-content-div1-traveled {
    display: flex;
    vertical-align: middle;
    text-align: center;
    height: 46px;
}

#more-content-div1-traveled > span > img{
    width: 30px;
    height: 30px;
    padding-top: 8px;
    padding-left: 8px;
}

/*-------------------------*/

